<launch>
    <arg name="vehicle_name" />
    <arg name="calibration_file" default="$(find camera)/config/calib_ov9281_00.yaml" />
    <arg name="camera_info_url" value="file://$(arg calibration_file)" />
    <arg name="camera_name" default="vertical_camera" />
    <arg name="camera_frame_id" default="camera_frame" />
    <arg name="framerate" default="20" />
    <arg name="base_topic" default="image_raw" />

    <node pkg="camera" type="camera_node" name="$(arg camera_name)">

        <param name="camera_name" value="$(arg camera_name)" />
        <param name="camera_frame_id" value="$(arg camera_frame_id)" />
        <param name="camera_info_url" value="$(arg camera_info_url)" />
        <param name="base_topic" value="$(arg base_topic)" />

        <rosparam param="disable_pub_plugins" subst_value="True">
            - "$(arg base_topic)/image_transport/compressedDepth"
            - "$(arg base_topic)/image_transport/theora"
        </rosparam>
    </node>
</launch>
